html {
  background: black;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Raleway';
  font-size: 16px;
  overflow-x: hidden;
  color: white;
  background: url("/static/img/city-splash.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

/* splash */
.splash {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.landing-text {
  position: relative;
  top: 40%;
}
